body {

  /* background-color: rgba(26, 71, 42); */
  background-image: url(image/hogwarts-castle-.jpg);
  background-size: cover;

}

h1 {
  color: aliceblue;
  text-align: center;
  font-family: 'Sriracha', cursive;
 font-size: 5pc;
}

h3 {
  color: bisque;
  font-family: 'Sriracha', cursive;
  
}

.wizard-wrapper {
  width: 80%;
  margin: 0 auto;
}

.wizard {
  display: flex;
  align-items: center;
}

.wizard:nth-child(2) {
  justify-content: flex-end;
  /* text-align: left; */
}

.text {
  padding-left: 20px;
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.image {
  width: 180px;
  
}
