body {
  background-image: url(image/commonRoom.jpg);
  background-size: cover;



}

h1 {
  color: aliceblue;
  text-align: center;
  font-family:'Uncial Antiqua', cursive;
 font-size: 5pc;
}

h3 {
  color: bisque;
  font-family:'Uncial Antiqua', cursive;
  
}

.photo {
  text-align: center;
  display: flexbox;
}