body {

  /* background-color: rgba(26, 71, 42); */
  background-image: url(image/hogwarts-castle-.jpg);
  background-size: cover;

}

h1 {
  color: aliceblue;
  text-align: center;
  font-family:'Uncial Antiqua', cursive;
 font-size: 5pc;
}

h3 {
  color: bisque;
  font-family:'Uncial Antiqua', cursive;
  
}

.wizard-wrapper {
  width: 80%;
  margin: 0 auto;
}

.wizard {
  display: flex;
  align-items: center;
}

.wizard:nth-child(2) {
  justify-content: flex-end;
}

.text {
  padding-left: 20px;
}

.image {
  width: 180px;
  
}